.preview-image {
    cursor: pointer;
}

.modal-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
}

.modal-container.active {
    display: flex;
}

.modal-slider {
    position: relative;
    width: 90%;
    height: 90%;
    background: white;
    padding: 50px;
}

.modal-close {
    position: absolute;
    font-size: 20px;
    color: black;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.carousel ul {
    position:absolute;
    list-style:none;
    margin:0;
    padding:0;
}

.carousel li {
    float:left;
}

.full-image {
    object-fit: cover;
}

.slider-item {
    max-width:100%;
    height:auto;
}

.tns-slider {
    display: flex;
}

.tns-item {
    padding: 20px;
    height: fit-content;
}

.tns-slider {
    height: auto;
}